

<ion-content>
  <form >
  
    <div class="container">

      <ion-item>
        <ion-label color="dark" position="floating">Cedula</ion-label>
        <ion-input
          name="cedula"
          type="text"
          placeholder="cedula"
          [(ngModel)]="cliente.cedRucCliente"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Nombre</ion-label>
        <ion-input
          name="nombre"
          type="text"
          placeholder="nombres"
          [(ngModel)]="nombres"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Apellidos</ion-label>
        <ion-input
          name="apellidos"
          type="text"
          placeholder="apellidos"
          [(ngModel)]="apellidos"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">Email</ion-label>
        <ion-input
          name="email"
          type="email"
          placeholder="email"
          [(ngModel)]="email"
          required
        ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label color="dark" position="floating">Password</ion-label>
        <ion-input
          name="password"
          type="password"
          placeholder="password"
          [(ngModel)]="pass"
          required
        ></ion-input>
      </ion-item>

      <ion-button (click)="registrars()" expand="block" type="submit" color="success" shape="round">
        Registrar
      </ion-button>
<br>
<br>
      <ion-button (click)="login()" expand="block" type="submit" color="success" shape="round">
        Login
      </ion-button>
    </div>
  
  </form> 
  <!-- <ion-slides class="Slide">
    <ion-slide>
      <form>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-icon name="logo-angular"></ion-icon>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label color="dark" position="floating">Email</ion-label>
                  <ion-input
                    name="email"
                    type="email"
                    placeholder="email"
                    required
                  ></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-label color="dark" position="floating">Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    placeholder="password"
                    required
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="success" shape="round">
                Ingresar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

   
  </ion-slides> -->
</ion-content>

